body {
    font-family:'Roboto', sans-serif;
    color: var(--NAVY-BLUE, #2E2F42);
}
.header {
}
.header-navigation {
}
.header-logo {
color: var(--IRIS, #4D5AE5);
font-family: Raleway;
font-size: 18px;
font-weight: 700;
line-height: 1.16; 
letter-spacing: 0.03em;
text-transform: uppercase;
text-decoration: none;

}
.header-logo-color {
    color: var(--NAVY-BLUE, #2E2F42);
font-family: Raleway;
font-size: 18px;
font-weight: 700;
line-height: 1.16; 
letter-spacing: 0.03em;
text-transform: uppercase;
}
.header-menu-list {
}
.header-menu-item {
list-style: none;
}
.header-menu-link {
color: var(--NAVY-BLUE, #2E2F42);
font-size: 16px;
font-weight: 500;
line-height: 1.5; 
letter-spacing: 0.02em;
text-decoration: none;
}
.mail {
    text-decoration: none;
}
.tel {
    text-decoration: none;
}
.hero {
    background: var(--NAVY-BLUE, #2E2F42); 
}
.hero-title {
color: var(--WHITE, #FFF);
text-align: center;
font-size: 56px;
font-weight: 700;
line-height: 1.07; 
letter-spacing: 0.02em;
}
.hero-btn {
color: var(--WHITE, #FFF);
font-size: 16px;
font-weight: 500;
line-height: 1.5; 
letter-spacing: 0.04em;
}
.strategy {
}
.strategy-list {
}
.strategy-item {
list-style: none;
}
.strategy-subtitle {
color: var(--NAVY-BLUE, #2E2F42);
font-size: 20px;
font-weight: 500;
line-height: 1.2; 
letter-spacing: 0.02em;
}
.strategy-text {
color: var(--SLATE, #434455);
font-size: 16px;
font-weight: 400;
line-height: 1.5; 
letter-spacing: 0.02em;
}
.our-team {
}
.team-title {
    color: var(--NAVY-BLUE, #2E2F42);
text-align: center;
font-size: 36px;
font-weight: 700;
line-height: 1.11; 
letter-spacing: 0.02em;
text-transform: capitalize;
}
.team-list {
}
.team-item {
list-style: none;
}
.team-subtitle {
    color: var(--NAVY-BLUE, #2E2F42);
text-align: center;
font-size: 20px;
font-weight: 500;
line-height: 1.2; 
letter-spacing: 0.02em;
}
.team-text {
color: var(--SLATE, #434455);
text-align: center;
font-size: 16px;
font-weight: 400;
line-height: 1.5; 
letter-spacing: 0.02em;
}
.our-portfolio {
}
.portfolio-title {
color: var(--NAVY-BLUE, #2E2F42);
text-align: center;
font-size: 36px;
font-weight: 700;
line-height: 1.11; 
letter-spacing: 0.02em;
text-transform: capitalize;
}
.portfolio-list {
}
.portfolio-item {
    list-style: none;
}
.portfolio-subtitle {
color: var(--NAVY-BLUE, #2E2F42);
font-size: 20px;
font-weight: 500;
line-height: 1.2; 
letter-spacing: 0.02em;
}
.portfolio-text {
color: var(--SLATE, #434455);
font-size: 16px;
font-weight: 400;
line-height: 1.5; 
letter-spacing: 0.02em;
}
.footer {
    background: var(--NAVY-BLUE, #2E2F42);
}
.footer-logo {
color: var(--IRIS, #4D5AE5);
font-family: Raleway;
font-size: 18px;
font-style: normal;
font-weight: 700;
line-height: 1.16; 
letter-spacing: 0.03em;
text-transform: uppercase;
text-decoration: none;
}
.footer-logo-color {
color: var(--CLOUD, #F4F4FD);
font-family: Raleway;
font-size: 18px;
font-style: normal;
font-weight: 700;
line-height: 1.16; 
letter-spacing: 0.03em;
text-transform: uppercase;
}
.footer-text {
color: var(--CLOUD, #F4F4FD);
font-size: 16px;
font-weight: 400;
line-height: 1.5; 
letter-spacing: 0.02em;
}